{{ define "main" }}

  {{ "<!-- topics -->" | safeHTML }}

  



   <div class="bgh" style="padding: 40px;">
   <div class="row"> 
     <div class="col-md-6 text-center" style="vertical-align: middle; ">
    <img src="\images\pic.png" class="img-fluid" alt="banner1"width="550" style="vertical-align: middle; border-radius:5%; box-shadow: 0 14px 25px rgba(0,0,0,.1) !important;">
  </div>
     <div class="col-md-6 text-center"  style="padding: 20px; vertical-align: middle;">
 
      <h1 class="display-4" style="vertical-align: middle;"><br>Find the best documentation here</h1>
          <div class="text-center"> 
          <button type="button" class="btn btn-primary btn-lg" style="margin: 10px;"><i class="fa fa-info-circle" aria-hidden="true"></i>Go to Docs</button>
  
      </div> 

     </div>
   
   </div>
 </section>
   

  <section class="section">
       <div class="container">
          <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h2 class="section-title">{{ i18n "topics_title" | safeHTML }}</h2>
        </div>
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range (where .Site.Pages "Type" "docs") }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="{{ .Permalink }}" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            <i class="{{ .Params.Icon }} icon text-primary d-block mb-4"></i>
            <h3 class="mb-3 mt-0">{{ .Title }}</h3>
            <p class="mb-0">{{ .Params.Description }}</p>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </section>




  
  {{ "<!-- /topics -->" | safeHTML }}

  {{ if .Site.Params.cta.enable }}
  {{ with .Site.Params.cta }}
  {{ "<!-- call to action -->" | safeHTML }}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section px-3 bg-white shadow text-center">
          <h2 class="mb-4">{{ .title | markdownify }}</h2>
          <p class="mb-4">{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" class="btn btn-primary">{{ .label }}</a>
          {{ end }}
          {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /call to action -->" | safeHTML }}
  {{ end }}
  {{ end }}

{{ end }}